$default-color-1: var(--default-color-1);
$default-color-2: var(--default-color-2);

$text-color-1: var(--text-color-1);
$text-color-2: var(--text-color-2);
$text-color-3: var(--text-color-3);

@font-face {
  font-family: "play";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
}

// html,[data-theme='light']{

// }

html,
[data-theme="dark"] {
  --default-color-1: #111111;
  // --default-color-2: #1c1d1c;
  --default-color-2: linear-gradient(90deg, #1c1d1c 0%, #111111 100%);

  --text-color-1: #fff;
  --text-color-2: #ddd;
  --text-color-3: #f2f2f2;
}
