<div class="conact-section">
  <div class="row g-0" style="justify-content: center">
    <div class="col-6">
      <form (submit)="submitFormMessage($event)">
        <div class="row g-0">
          @for (formGroup of FormGroups; track $index) {
          <div class="col col-lg-6">
            <div class="form-group m-1">
              <input
                class="form-control"
                [type]="formGroup.type"
                [name]="formGroup.name"
                [placeholder]="formGroup.label"
              />
            </div>
          </div>
          }
          <textarea class="form-control m-1" name="" rows="5" placeholder="Your Message"></textarea>
        </div>
        <button class="btn send-message-btn" type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
