<div class="row g-0 home-section">
  <div class="col text-section">
    <h3>Hey it's</h3>
    <h1>Ahmad Shobasi</h1>
    <h3>I'm a front end developer.</h3>
    <h3>high level experience in web applications develpment.</h3>
    <p class="my-4">
      @for (link of social; track $index) {
      <a class="social-links" target="_blank" [href]="link.href">
        <i class="bi" [classList]="link.icon"></i>
      </a>
      }
    </p>
  </div>
  <div class="col ps-5 text-center">
    <img class="my-image" src="./assets/download (11).png" alt="" />
  </div>
</div>
