<div class="row g-0 about-section">
  <div class="col ps-5">
    <img src="" alt="" />
  </div>
  <div class="col text-section">
    <h1>About me</h1>
    <p>
      I am a web application developer with a strong background in front-end technologies, including
      JS and CSS libraries like jQuery, Bootstrap, and many other libraries.
    </p>
    <p>
      Proficient in AngularJS, TypeScript and Angular Material, I am keen on expanding my skills
      into another frameworks and go deeper in back-end develpment
    </p>
    <p>
      My collaborative approach and commitment to learning make me an asset to any team. I am eager
      to contribute my expertise to a forward-thinking company, working together to create
      professional applications and projects.
    </p>
  </div>
</div>
