@use "../../../var.scss" as *;

.about-section {
  background: $default-color-2;
  height: calc(100vh - 56px);
  align-items: center;
  h1 {
    color: $text-color-3;
    font-family: "play";
    line-height: 2.5;
  }
  p {
    font-size: 20px;
    color: $text-color-2;
  }
  .text-section {
    padding-right: 10%;
  }
}
