@use "../../../var.scss" as *;

.card-container {
  background: $default-color-2;
  padding: 70px;

  .card {
    cursor: pointer;
    background-color: $default-color-1;
    box-shadow: 0 1px 5px #2c2c2c;
    min-height: 250px;
    width: calc(100% - 20px);
    border-radius: 20px;
    overflow: hidden;

    transition: all 0.4s ease-in-out;
    &:hover {
      // transform: scale(1.01) rotate(-0.5deg);
      .card-body {
        img {
          width: 103%;
          height: 103%;
        }
        p {
          bottom: 2px;
        }
      }
    }
    .card-body {
      position: relative;
      color: $text-color-1;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
      }
      p {
        position: absolute;
        bottom: 0;
        color: $text-color-1;
        font-size: large;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
